.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/node_modules
/vendor
/storage/*.key
/web/node_modules
/web/dist
